WEB_SERVICE_URL=http://localhost:5002
DATA_CACHE_URL=rag-data-cache:6379
MESSAGE_BROKER_URL=amqp://user:pass@rag-message-broker:5672/
VECTOR_DB_URL=http://rag-vector-db:6333
AI_HOST_URL=http://host.docker.internal:1234
AI_HOST_API_KEY=lm-studio
AI_HOST_LM_NAME=openai/gpt-oss-20b
MAIN_DB_URL=Host=rag-main-db;Port=5432;Username=user;Password=pass;Database=rag
AUTH_SERVICE_URL=http://localhost:5001
MONITORING_URL=http://localhost:9090
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=
